:root {
   /*колір головний*/
   --main-text-color: #757575;
   /*колір заголовків*/
   --title-text-color: #212121;
   /*колір білий текст*/
   --main-color: #FFFFFF;

   /*колір акценту кнопок*/
   --accent-color: #2196F3;
   --hover-color: #188CE8;
   /*колір акценту кнопок*/
   --accent-second-color: #F5F4FA;
   /*колір тексту футера*/
   --footer-color: rgba(255, 255, 255, 0.6);

   /*колір фону сірої секцій*/
   --grey-color: #2F303A;
   /*колір фону білої секцій*/
   --main-color: #FFFFFF;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: currentColor;
}

li,
ol {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
p {
   margin: 0;
}

.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   outline: 1px dotted green;
}

/* стиль загальний -------------------------------------*/
.page {
   color: var(--main-text-color);
   background-color: var(--main-color);
   font-family: "Roboto", serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

/* стиль хедера-------------------------------------*/
/*головний блок*/
.header-list {
   display: flex;
}

/* logo-header  и так блочний*/

.header-list {
   display: flex;
   align-items: center;
}

.style-nav {
   display: flex;
}



.logo-header {
   padding-right: 93px;
   padding-top: 24px;
   padding-bottom: 24px;
}

.style-nav .link:first-child {
   padding-left: 50px;
}

.info {
   display: flex;
   margin-left: auto;
}

.info .tel {
   padding-left: 50px;
}





.header {
   font-weight: 500;
   line-height: 1.17;
   letter-spacing: 0.02em;

   background-color: var(--main-color);
   border-bottom: 1px solid #ECECEC;
}

.header {
   margin-top: 24px;
   margin-bottom: 25px;
}

.logo-header {
   color: var(--title-text-color);
   text-decoration: none;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 32px;
   line-height: 1.17;
}

.link {
   color: var(--title-text-color);
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;
}

.link:hover {
   color: var(--accent-color);

}

.current {
   color: var(--accent-color);
}

.info {
   font-weight: 500;
   line-height: 1.14;
}

.mail,
.tel {
   color: var(--main-text-color);
   text-decoration: none;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
   color: var(--accent-color);
}

/* стиль ГЕГОЯ-------------------------------------*/
.hero {
   background-color: var(--grey-color);
}

.hero {
   margin-top: 0;
   margin-bottom: 0;
   display: block;
   text-align: center;
}

.hero-title {
   color: var(--main-color);
   text-transform: uppercase;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   margin-left: auto;
   margin-right: auto;
}

.hero-button {
   margin-top: 30;
   margin-bottom: 200px;
}

.hero-title {
   padding-top: 200px;
   padding-bottom: 0px;
   width: 696px;
}

/* стиль Головної кнопки та кнопок на другій страниці*/
.button {
   color: var(--main-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.85;
   letter-spacing: 0.06em;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 32px;
   padding-right: 32px;
   cursor: pointer;
   margin-top: 30px;
   margin-bottom: 200px;

   background-color: var(--accent-color);
}

.button:hover,
.button:focus {
   background-color: #188CE8;
}



/* стиль Особливості-------------------------------------*/

.galery-title-list {
   display: flex;
}

.subtitle-list {
   width: 270px;
   margin-right: 30px;

}

.subtitle-list:last-child {
   margin-right: 0px;
}


.special-list {
   margin-top: 94px;
   margin-bottom: 94px;
}

.special-subtitle {
   color: var(--title-text-color);
   font-size: 14px;
   font-weight: 700;
   line-height: 1.17;
   text-transform: uppercase;
}

.special-subtitle {
   margin-top: 0;
   margin-bottom: 10px;
}

.subtitle-list {
   width: 270px;
}



/* стиль Галерея-------------------------------------*/
.galery-list {
   margin-top: 0px;
   margin-bottom: 94px;
   padding-bottom: 0;

}

.galery-title {
   color: var(--title-text-color);
   font-size: 36px;
   font-weight: 700;
   line-height: 1.16;
   margin-top: 0;
   margin-bottom: 50px;
   text-align: center;
}

.galery-title-img {
   display: flex;
   justify-content: center;
}


.galery-img {
   display: inline-block;
   margin-right: 30px;
   padding-bottom: 0;
}

.galery-img:last-child {
   margin-right: 0px;
}


/* стиль Команда-------------------------------------*/

.team-container {
   background-color: var(--accent-second-color);
   padding-top: 94px;
   padding-bottom: 94px;
}

.team-title {
   color: var(--title-text-color);
   font-size: 36px;
   font-weight: 700;
   line-height: 1.16;
   margin-top: 0;
   margin-bottom: 50px;
   text-align: center;

}

.name-list {
   display: inline-block;
   box-sizing: border-box;
   width: 270px;
   height: 368px;

   box-sizing: border-box;
   background-color: #FFFFFF;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
   box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.12);
   margin-right: 30px;
   text-align: center;
}

.team-name {
   color: var(--title-text-color);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.18;
   margin-top: 30px;
   margin-bottom: 0;
}

.name-list:last-child {
   margin-right: 0px;
}

.team-list {
   margin-top: 0px;
   margin-bottom: 0px;
}


.team-title-list {
   display: flex;
   justify-content: center;
}

.team-position {
   margin-top: 10px;
   margin-bottom: 30px;
}

.team-container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   outline: 1px dotted green;
}

/* стиль Футер-------------------------------------*/
.footer {
   background-color: var(--grey-color);
   text-decoration: none;
   padding-top: 60px;
   padding-bottom: 60px;
}

/*.footer-list {
   margin-top: 0px;
   margin-bottom: 0px;
}*/

.logo-footer {
   color: var(--main-color);
   text-decoration: none;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 32px;
   line-height: 1.17;
   margin-top: 60px;
   margin-bottom: 100px;
}


.address {
   color: var(--main-color);
   text-decoration: none;
   font-style: normal;
   font-size: 14px;
   line-height: 1.7;
}

.address {
   margin-top: 20px;
   margin-bottom: 0px;
}

.mail-footer,
.tel-footer {
   color: var(--footer-color);
   text-decoration: none;
   font-style: normal;
}

.mail-footer {
   margin-top: 9px;
   margin-bottom: 0px;
}

.tel-footer {
   margin-top: 9px;
   margin-bottom: 0px;
}

.mail:hover,
.mail:focus {
   color: var(--accent-color);
}

.footer-list {
   padding-left: 0;
}



/* стиль Кнопки другої сторінки-------------------------*/
.button-secondary {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.85;
   letter-spacing: 0.03em;

   cursor: pointer;

   background-color: var(--accent-second-color);
}

.button-secondary:hover,
.button-secondary:focus {
   color: var(--main-color);
   background-color: var(--accent-color);
}

.current-button {
   color: var(--main-color);
   background-color: var(--accent-color);
}

/* стиль Контент-------------------------------------*/
.caption-title {
   color: var(--title-text-color);
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
   letter-spacing: 0.06em;
}

.caption-subtitle {
   color: var(--main-text-color);
   font-size: 16px;
   line-height: 1.8;
}

.caption-link {
   text-decoration: none;

}